@layer work.component {
	.photo img {
		aspect-ratio: 375 / 220;
		object-fit: cover;
		opacity: 0;
		transition: opacity 0.25s ease-in-out;
	}
	.photo :global(.opacity1) {
		opacity: 1;
	}
}

@layer work.decoration {
	.photo {
		position: relative;
	}

	.photo::before {
		content: url(/work01/clover01.svg);
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		translate: -45% 36%;
		z-index: 1;
		width: 108px;
		rotate: 54deg;
		mix-blend-mode: multiply;
	}
	.photo::after {
		content: url(/work01/clover02.svg);
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		translate: -20% 50%;
		z-index: 1;
		width: 54px;
		rotate: 74deg;
		mix-blend-mode: multiply;
	}
	@media (min-width: 768px) {
		.photo::before {
			width: 229px;
		}
		.photo::after {
			translate: 40% -10%;
			width: 135px;
		}
	}
}
