@layer work.base {
	/* ボタンスタイルのリセット */
	.body button {
		all: unset;
		outline: revert;
		box-sizing: border-box;
		-webkit-tap-highlight-color: transparent;
		cursor: pointer;
	}
}

@layer work.component {
	/* モーダルの見出し */
	.body h2 {
		font-size: var(--fontSize-14-16);
	}

	/* カートに追加した商品 */
	.item {
		font-size: var(--fontSize-14-16);
	}
	.item img {
		width: 100px;
		aspect-ratio: 1/1;
		object-fit: cover;
	}

	.itemText h3 {
		font-size: var(--fontSize-14-16);
		font-weight: 500;
	}
	.itemText p {
		text-align: left;
	}

	/* 個数の変更ボタン */
	.itemQty button {
		display: inline-grid;
		place-items: center;
		width: 30px;
		aspect-ratio: 1/1;
		border: solid 1px var(--gray);
		border-radius: 5px;
		background-color: var(--white);
	}

	/* 商品を削除するボタン */
	.itemDelete {
		display: grid;
		place-items: center;
		width: 14px;
		aspect-ratio: 1/1;
	}
	.itemDelete::before,
	.itemDelete::after {
		grid-area: 1 / 1;
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		background-color: var(--gray-dark);
		transition: transform 0.4s;
	}
	.itemDelete::before {
		transform: rotate(45deg);
	}
	.itemDelete::after {
		transform: rotate(-45deg);
	}

	/* テーブル */
	.table {
		width: 100%;
		border-collapse: collapse;
	}
	.table th {
		font-weight: 400;
	}
	.table td {
		border-block: solid 1px var(--gray);
		padding-block: var(--spacing-14);
	}
	.table tr > :nth-child(2) {
		text-align: center;
	}
	.table tr > :nth-child(2) span {
		width: 3em;
	}
	.table tr > :nth-child(3) {
		text-align: right;
		flex: none;
		width: 76px;
	}
	@media (min-width: 768px) {
		.table tr > :nth-child(2) {
			flex: none;
			width: 270px;
		}
	}

	/* 合計 */
	.total {
		color: var(--accent);
		font-weight: 500;
		text-align: right;
	}

	/* 注文ボタン */
	.orderButton {
		composes: button from '@/components/work01/cart/addToCart.module.css';
		flex-direction: column;
		gap: 0;
	}
	.orderButton span {
		display: block;
		font-size: var(--fontSize-12);
	}

	/* カートを空にするボタン */
	.clearButton {
		width: fit-content;
		padding: 2px 5px;
		border-radius: 2px;
		border: solid 1px var(--gray);
		color: var(--gray-dark);
		font-size: var(--fontSize-12);
	}

	/* カートが空のときの注文ボタン */
	.orderButton.disabledButton,
	.orderButton.disabledButton:hover {
		background-color: var(--gray);
	}
}
