/* 基本設定 */

/* カスケードレイヤー 
   tw ... Tailwind CSS
   default, layout, theme ... Kata-Kago
   work.* ... 制作事例01
*/
@layer tw, default, layout, theme, work.base, work.layout, work.component, work.decoration;

@layer default {
	/* スクロールバーの領域を確保 */
	html {
		scrollbar-gutter: stable;
	}
	@supports not (scrollbar-gutter: stable) {
		html {
			overflow-y: scroll;
		}
	}

	/* スクリーンリーダー用のコンテンツを隠す */
	.sr-only {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
}

/* Tailwind CSS */
@layer tw {
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer base {
		/* リンクやボタンのハイライト、ポップ、選択拡大、ドラッグを防ぐ */
		a,
		button,
		:where(a, button) * {
			-webkit-tap-highlight-color: transparent;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			-webkit-user-drag: none;
			-moz-user-drag: none;
			-o-user-drag: none;
		}
	}
}
