@layer layout {
	.default {
		composes: stack from '@/components/katakago/layout/layout.module.css';
		max-width: 1024px;
		width: 92%;
		margin-inline: auto;
	}

	.wide {
		composes: default;
		max-width: 1280px;
	}
}
