@layer work.component {
	.hero {
		position: relative;
		margin-top: calc(var(--header-height-mobile) * -1);
		padding-top: 339px;
		height: 760px;
		background-color: var(--secondary);
	}
	@media (min-width: 768px) {
		.hero {
			margin-top: calc(var(--header-height-desktop) * -1);
			padding-top: 288px;
		}
	}

	.hero img {
		position: absolute;
		z-index: 1;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 0;
		transition: opacity 0.25s ease-in-out;
	}
	.hero :global(.opacity1) {
		opacity: 1;
	}

	.text {
		position: relative;
		z-index: 2;
	}

	.wave {
		position: absolute;
		z-index: 2;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 90px;
	}
}

@layer work.decoration {
	.wave {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 90px;
		display: initial;
	}
	.wave svg {
		width: 100%;
		height: 90px;
	}
}
