/* Work01用のグローバルスタイル */
@layer work.base {
	:root {
		/* カラー */
		--black: #222222;
		--white: #ffffff;
		--primary: #bbff81;
		--primary-high: #9aff43;
		--primary-light: #f1ffe6;
		--secondary: #fbced3;
		--tertiary: #6abeeb;
		--accent: #c50a0a;
		--accent-high: #da2323;
		--gray-light: #f5f5f5;
		--gray: #cccccc;
		--gray-dark: #707070;

		/* フォントサイズ */
		--fontSize-36-60: clamp(36px, 9.6vw, 60px);
		--fontSize-24-44: clamp(24px, 2.018vw + 1.027rem, 44px);
		--fontSize-24-36: clamp(24px, 6.4vw, 36px);
		--fontSize-20-36: clamp(20px, 5.3vw, 36px);
		--fontSize-16-18: clamp(16px, 4.2vw, 18px);
		--fontSize-16: 16px;
		--fontSize-14-16: clamp(14px, 3.7vw, 16px);
		--fontSize-14: 14px;
		--fontSize-12: 12px;
		--fontSize-10: 10px;

		/* 余白（スペース） */
		--spacing-112: 112px;
		--spacing-72-90: clamp(72px, 19.2vw, 90px);
		--spacing-72: 72px;
		--spacing-60: 60px;
		--spacing-45: 45px;
		--spacing-36-72: clamp(36px, 9.6vw, 72px);
		--spacing-36-112: clamp(36px, 9.6vw, 112px);
		--spacing-36: 36px;
		--spacing-30: 30px;
		--spacing-24: 24px;
		--spacing-10-36: clamp(10px, 1.3vw, 36px);
		--spacing-20-36: clamp(20px, 5.3vw, 36px);
		--spacing-20-28: clamp(20px, 5.3vw, 28px);
		--spacing-20: 20px;
		--spacing-15-93: clamp(15px, 6.8vw, 93px);
		--spacing-14: 14px;
		--spacing-10: 10px;
		--spacing-7: 7px;

		/* コンテナ */
		--container: 1088px;
		--container-padding: 30px;
		--container-wide: 1158px;
		--container-wide-padding: 15px;

		/* 影 */
		--shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
		--shadow-lg: 0px 25px 50px -12px rgba(0, 0, 0, 0.5);

		/* ヘッダーの高さ */
		--header-height-mobile: 160px;
		--header-height-desktop: 100px;
	}

	* {
		box-sizing: border-box;
		margin: 0;
	}

	a {
		color: inherit;
		text-decoration: none;
	}
	a:hover {
		opacity: 0.9;
	}

	a,
	button,
	:where(a, button) * {
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-user-drag: none;
		-moz-user-drag: none;
		-o-user-drag: none;
	}

	ul {
		padding: 0;
		list-style: none;
	}

	img {
		max-width: 100%;
		height: auto;
		vertical-align: bottom;
	}

	.icon {
		width: 30px;
		height: 30px;
		overflow: visible;
		vertical-align: -0.125em;
	}

	input,
	button,
	select,
	textarea {
		color: inherit;
		font: inherit;
	}

	body {
		font-family: var(--font-noto), sans-serif;
		font-size: var(--fontSize-16-18);
		-webkit-text-size-adjust: none;
		line-height: 1.8;
	}

	:where(h1, h2, h3, h4, h5, h6) {
		font-weight: 400;
		line-height: 1.4;
	}
	h1 {
		font-size: var(--fontSize-36-60);
	}
	h2 {
		font-size: var(--fontSize-24-36);
	}
}
