@layer work.layout {
	.item {
		overflow: hidden;
	}

	/* body */
	.itemBody {
		padding-top: var(--spacing-36-112);
	}

	/* text */
	.itemText > * + * {
		margin-top: var(--spacing-45);
	}
	.itemText {
		font-size: var(--fontSize-14-16);
	}
	.itemText h1 {
		font-size: var(--fontSize-24-44);
	}

	.handling {
		margin-top: var(--spacing-72);
		display: grid;
		gap: var(--spacing-24);
		font-size: var(--fontSize-14-16);
	}
	.handling li {
		display: grid;
		grid-template-columns: 54px 1fr;
	}
	.handling :global(.icon) {
		grid-row: span 2;
		fill: var(--tertiary);
	}

	.handling h2 {
		font-size: var(--fontSize-16-18);
		font-weight: 500;
	}
}
