@layer work.layout {
	.item {
		overflow: hidden;
	}
	.message {
		margin-block: var(--spacing-36-72) var(--spacing-112);
		padding: var(--spacing-112) var(--spacing-15-93);
		border: solid 2px var(--secondary);
		text-align: center;
	}

	.message h1 {
		font-size: var(--fontSize-20-36);
		word-break: keep-all;
	}

	.message p {
		max-width: 380px;
		margin-inline: auto;
		margin-top: var(--spacing-45);
		text-align: left;
	}
}

@layer work.decoration {
	.message {
		position: relative;
	}

	.message::before {
		content: url(/work01/clover01.svg);
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		translate: -45% 36%;
		z-index: 1;
		width: 108px;
		rotate: 54deg;
		mix-blend-mode: multiply;
	}
	.message::after {
		content: url(/work01/clover02.svg);
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		translate: -20% 50%;
		z-index: 1;
		width: 54px;
		rotate: 74deg;
		mix-blend-mode: multiply;
	}
	@media (min-width: 768px) {
		.message::before {
			width: 229px;
		}
		.message::after {
			translate: 40% -10%;
			width: 135px;
		}
	}
}
