@layer work.layout {
	/* 12カラム */
	.grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 10px;
		row-gap: var(--spacing-36);
	}
	@media (min-width: 768px) {
		.grid {
			grid-template-columns: repeat(12, 1fr);
			column-gap: 16px;
		}
	}
	.grid > * {
		grid-column: 1 / -1;
	}

	/* 1-4 */
	.grid1-4 {
		composes: grid;
	}
	@media (min-width: 768px) {
		.grid1-4 > * {
			grid-column: span 3;
		}
	}

	/* 2-4 */
	.grid2-4 {
		composes: grid;
	}
	.grid2-4 > * {
		grid-column: span 2;
	}

	@media (min-width: 768px) {
		.grid2-4 > * {
			grid-column: span 3;
		}
	}

	/* 2 */
	.grid2 {
		composes: grid;
	}
	.grid2 > * {
		grid-column: span 2;
	}
	@media (min-width: 768px) {
		.grid2 > * {
			grid-column: span 6;
		}
	}

	/* 2-3 */
	.grid2-3 {
		composes: grid;
	}
	.grid2-3 > * {
		grid-column: span 2;
	}
	.grid2-3 > :first-child {
		grid-column: span 4;
	}
	@media (min-width: 768px) {
		.grid2-3 > * {
			grid-column: span 4;
		}
	}

	/* 2cols（商品ページ用２段組み） */
	.grid2cols {
		composes: grid;
	}
	@media (min-width: 768px) {
		.grid2cols > :first-child {
			grid-column: span 6;
		}
		.grid2cols > :last-child {
			grid-column: span 5 /-1;
		}
	}
}
