@layer work.component {
	.header {
		position: sticky;
		top: 0;
		z-index: 10;
		width: 100%;
		height: var(--header-height-mobile);
		display: grid;
		align-items: center;
	}
	@media (min-width: 768px) {
		.header {
			height: var(--header-height-desktop);
		}
	}

	.menu ul {
		font-size: var(--fontSize-14-16);
		text-shadow: 0 0 20px #ffffff, 0 0 15px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff;
	}
	@media (max-width: 374px) {
		.menu ul {
			font-size: var(--fontSize-12);
		}
	}
}

@layer work.decoration {
	.header::before {
		content: '';
		position: absolute;
		inset: 0;
		z-index: -1;
		backdrop-filter: blur(3px);
		mask-image: url(/work01/mask.png);
		mask-repeat: repeat-x;
		mask-position: 0% 100%;
	}
}
